* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #effffa;
}

em {
    font-style: normal;
}

.slider {
    width: 500px;
    background-color: #1b994b50;
    height: 5px;
    border-radius: 2px;
}

.track {
    position: relative;
    width: 0%;
    background-color: #51cf81;
    height: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.circle {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #0fa425;
    border-radius: 50%;
    cursor: grab;
}

h3 {
    color: rgb(27, 153, 75);
}
